<html>
   <body>

      <form name = "form" enctype = "multipart/form-data"
         action = "{% url 'saved' %}" method = "POST" >{% csrf_token %}

         <strong>Names (Comma seperated):<br></strong>
         <textarea name="name" style="width:470px;height:350px;"></textarea>

         <strong><br>Images of names:</strong>
         <div style = "max-width:470px;">
            <center>
               <input type = "file" multiple="true"
                  placeholder = "Image upload" name = "file_field" />
            </center>
         </div>
         <strong><br>CSV of names to emails:</strong>
         <div style = "max-width:470px;">
            <center>
               <input type = "file"
                  placeholder = "Image upload" name = "emails_file" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>
               <button style = "border:0px;background-color:#4285F4; margin-top:8%;
                  height:35px;" type = "submit" value = "Login" >
                  <strong>Submit</strong>
               </button>

            </center>
         </div>

      </form>

   </body>
</html>
