<html>
   <body>
     {% if user.is_authenticated %}
     {% if saved %}
        <strong>Found matching emails for names in the text area. Add any additional names to email.</strong>
        <br>
        Emails extracted: {{matched_emails}}
        <br>
        <form name = "form" enctype = "multipart/form-data"
           action = "{% url 'submitted' %}" method = "POST" >{% csrf_token %}

           <strong>Names (Comma seperated):<br></strong>
           <textarea name="name" style="width:100%;height:350px;">{{matched_names}}</textarea>


           <strong>Names failed:</strong> {{unmatched_names}}
           <br>

           <div style = "">
              <center>
                 <button style = "border:0px;background-color:#4285F4;margin-top:1%;
                    height:35px;" type = "submit" value = "Login" >
                    <strong>Submit</strong>
                 </button>

              </center>
        </form>
     {% endif %}

     {% if not saved %}
        <strong>There was an error.</strong>
        <p><a href="{% url 'profile' %}">Try Again</a></p>
     {% endif %}
     <p><a href="{% url 'logout' %}">logout</a></p>
     {% else %}
       <p>You are not logged in</p>
       <a href="{% url 'login' %}">login</a>
     {% endif %}
   </body>
</html>
